* {
  /* font-family: 'Suravaram', serif; */
  /* font-family: "Linden Hill", serif; */
  font-family: 'Averia Serif Libre';
}

h1, h2, h3 {
  font-family: "Overpass", sans-serif;
}

p {
  /* font-family: 'Suravaram', serif; */
  /* font-family: "Linden Hill", serif; */
  font-family: 'Averia Serif Libre';
  color: #0C090A;
}

header {
  background-color: #0C090A;
  color: #FFF;
}
header h1 {
  text-align: center;
  /* padding: 2rem; */
  letter-spacing: .3rem;
  /* font-variant: small-caps; */
}

img {
  max-width: 100%;
}

a {
  color: #A6464E;
  font-weight: bold;
}

a:hover {
  color: #E9A666;
}

a:visited {
  color: #8D916C;
}

footer {
  background-color: #0C090A;
}

/* my colors palette 1 */
.dark-salmon {
  color: #E9A666;
  background-color: #E9A666;
}

.dark-olive-grn {
  color: #4D5824;
}

.light-steel-blu {
  color: #9DC15D;
}

.powder-blu {
  color: #CBE5EF;
}

.dark-khaki {
  color: #A09444;
}

/* my colors palette 2 */
.old-rose {
  color: #A6464E;
  background-color: #A6464E;
}

/* .black {
  color: #0C090A;
  background-color: #0C090A;
} */

.tan {
  color: #CFAEA1;
  background-color: #CFAEA1;
}

.gray {
  color: #8D916C;
  background-color: #8D916C;
}

.dark-olive-green {
  color: #705142;
  background-color: #705142;
}


/* SLIDER PROF */
@media (min-width: 1200px) {

#about .profile {
  display: none;
}
.profile-slide {
  display: block;
  position: relative;
  background-color: #0C090A;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.profile-slide:hover .overlay {
  width: 100%;
}
.profile-slide:hover .overlay img {
  float: right;
}

.my-slider {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  /* white-space: nowrap; */
}

.slide-text {
  color: #0C090A;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  /* white-space: nowrap; */
}
}

@media (max-width: 1200px) {
#about .profile-slide, .hideaway-slide img, #about h2 {
  display: none;
}
}

.gry-fade {
      /* background-color: #b0b0b0; */
      /* background-image: -webkit-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: -o-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: -moz-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: linear-gradient(to left, #C3C1C2, #0C090A); */
      background-image: -webkit-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: -o-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: -moz-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-repeat: no-repeat;
      font-size: 100%;
    }
@media (max-width: 400px) {
  .col-sm-12 {
    /* padding-right: 0px; */
    /* background-color: #fff; */
  }

/* #prof img{
  float: none;
} */


.gry-fade {
  /* background-image: none; */
}
}
  #container {
    background-color: #fff;
  }

  .big-box {
    text-align: center;
  }

  h2 {
    /* font-variant: small-caps; */
  }

  .dev {
    font-weight: 100;
  }

  .des {
    font-weight: 600;
    font-style: italic;
  }

  .dev, .des {
    font-family: 'Taviraj', serif;
    font-size: 4em;
  }

  .center-align {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  }

  #projects p {
    text-align: center;
    font-size: 1.4em;
  }

  #projects img {
    padding: 1em;
    border-radius: 50%;
    border: .5em solid #b0b0b0;
  }

  #old-proj img {
    border-radius: 0%;
    border: none;
  }
/* .slickcaro  */
  #about p {
    padding: 1em;
  }

  .slide {
  position: relative;
}

.slickcaro {
  text-align: center;
}

.slick-slide img {
  display: inline-block;
}

.caption p {
  bottom: 0;
  min-height: 80px;
  left: 0;
  /* position: absolute; */
  width: 100%;
  z-index: 2;
  color: #FFFFFF;
  background-color: #0C090A;
}

  #initial-tag {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: .5em;
  }

  header img {
    /* float: right; */
  }

  #prof {
    /* float: right; */
    /* margin-right: 0px; */
  }

  @media (min-width: 350px) {


  #prof {
    /* float: right; */
  }
}

  .blk {
    background-color: #0C090A;
  }

  .blk p, .blk h1, .blk h2, .blk h3 {
    color: #FFF;
  }



  .gry {
    /* background-color:	#595657; */
    /* background-color: #3d3d3d; */
    background-color: #b0b0b0;
 }

.bd-white {
  border-top: solid 1em #FFFFFF;
}

body {
  margin: 0px 0px;
}

#my-main {
  padding: 0px 8px;
  margin: 0 auto;
}

#projects .row h1 {
  text-align: center;
}

.to-top {
  color: #222222;
  padding: 1em 6em;
}

.to-top a {
  color: #222222;
  font-weight: bold;
  font-size: 1.5em;
}

.to-top a:hover {
  color: #444444;
}

.to-top a:visited {
  color: #111111;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  /* align-content: space-between; */
}

nav a {
  color: #FFFFFF;
  font-family: "Overpass", sans-serif;
  text-decoration: none;
}

nav a:hover {
  color: #DDDDDD;
  text-decoration: none;
}

nav a:visited {
  color: #CCCCCC;
  text-decoration: none;
}

.slickautoplay{
  margin-top: 3em;
}
/* a .to-top {
 background-color: green;
} */


/* cc palette */

.primary-1 { background-color: #F7FDA1 }
.primary-2 { background-color: #E4EC6F }
.primary-0 { background-color: #C1C943 }
.primary-3 { background-color: #A3AB25 }
.primary-4 { background-color: #7E850A }

.secondary-1-1 { background-color: #FFDCA2 }
.secondary-1-2 { background-color: #EFBE70 }
.secondary-1-0 { background-color: #CC9844 }
.secondary-1-3 { background-color: #AD7925 }
.secondary-1-4 { background-color: #87570A }

.secondary-2-1 { background-color: #FFBAA2 }
.secondary-2-2 { background-color: #EF9070 }
.secondary-2-0 { background-color: #CC6744 }
.secondary-2-3 { background-color: #AD4825 }
.secondary-2-4 { background-color: #872A0A }

/* end */


/* body {
	margin:0; padding: 2em;
	background: #fff;
	color: #000;
	font: 12px/1.33 "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
	text-align:left;
	} */
/* h1 {
	margin: 0.5em 0;
	font-size: 200%;
	}
p {
	margin: 0.5em 0;
	} */
#projects .color-table td p, #projects .color-table th p {
  font-family: "Overpass", sans-serif;
  font-size: 8px;
}
.color-table {
	/* margin: 2em 2em 5em; */
	border-collapse:collapse;
	border:none;
	border-spacing:0;
	font-size:100%;
	}
.color-table th {
	/* padding: 0 1em 0 0; */
	text-align: right;
	vertical-align: middle;
	font-size: 100%;
	font-weight: normal;
	border: none;
	}
.color-table td.sample {
	/* width:6em; height:6em; */
	padding: 6px;
	text-align:center;
	vertical-align:middle;
	font-size:90%;
	border: 1px solid white;
	white-space:nowrap;
	}
.color-table td.sample-0 {
	width:10em;
	}
.color-table.small td.sample {
	width:3em; height:3em;
	padding:0;
	border:none;
	}
.color-table.small td.sample-0 {
	width:9em;
	}
.color-table .white { margin-bottom:0.2em; color:white }
.color-table .black { margin-top:0.2em; color:black }

hr {
	margin: 2em 0 1em 0;
	border:none;
	border-bottom:1px solid silver;
	}
#footer {
	padding:1em;
	text-align:center;
	font-size:80%;
	}

header img, footer img {
  /* background-color: #FFFFFF; */
  margin:5px;
}

.slickautoplay {
  background-color: #0C090A;
  /* color: #FFFFFF; */
}

.slickautoplay p {
  color: #FFFFFF;
  padding:.5em;
  font-size: 1.3em;
  /* font-family: "Overpass", sans-serif; */
}
.slickautoplay button.slick-prev.slick-arrow, .slickautoplay button.slick-next.slick-arrow {
  color: #AAAAAA;
  background-color: #0C090A;
}
