h1, h2, h3 {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Linden Hill", serif;
}

header {
  background-color: #0C090A;
  color: #FFF;
}
header h1 {
  text-align: center;
  padding: 2rem;
  letter-spacing: .3rem;
  font-variant: small-caps;
}

/* my colors palette 1 */
.dark-salmon {
  color: #E9A666;
  background-color: #E9A666;
}

.dark-olive-grn {
  color: #4D5824;
}

.light-steel-blu {
  color: #9DC15D;
}

.powder-blu {
  color: #CBE5EF;
}

.dark-khaki {
  color: #A09444;
}

/* my colors palette 2 */
.old-rose {
  color: #A6464E;
  background-color: #A6464E;
}

.black {
  color: #0C090A;
  background-color: #0C090A;
}

.tan {
  color: #CFAEA1;
  background-color: #CFAEA1;
}

.gray {
  color: #8D916C;
  background-color: #8D916C;
}

.dark-olive-green {
  color: #705142;
  background-color: #705142;
}

/* body {
      background-color: #c1c943;
      background-image: -webkit-linear-gradient(to bottom, #E6F8AB, #66810B);
      background-image: -o-linear-gradient(to bottom, #E6F8AB, #66810B);
      background-image: -moz-linear-gradient(to bottom, #E6F8AB, #66810B);
      background-image: linear-gradient(to bottom, #E6F8AB, #66810B);
      background-repeat: no-repeat;
      font-size: 100%;
    } */

  #container {
    background-color: #fff;
  }

  .big-box {
    text-align: center;
  }

  .jumbotron p {
    /* margin: 0 auto; */
    /* background-color: #000; */
  }

  /* .rows {
    display: flex;
    flex-wrap: wrap;
  }

  .center-align {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  } */

  #projects p {
    text-align: center;
    font-size: 1.4em;
  }

  #projects img {
    padding: 1em;
    background-color: #A6464E;
    border-radius: 50%;
  }

  #initial-tag {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: .5em;
  }
