* {
  font-family: "Linden Hill", serif;
}

h1, h2, h3 {
  font-family: "Overpass", sans-serif;
}

p {
  font-family: "Linden Hill", serif;
  color: #0C090A;
}

header {
  background-color: #0C090A;
  color: #FFF;
}
header h1 {
  text-align: center;
  padding: 2rem;
  letter-spacing: .3rem;
  /* font-variant: small-caps; */
}

img {
  max-width: 100%;
}

a {
  color: #A6464E;
  font-weight: bold;
}

a:hover {
  color: #E9A666;
}

a:visited {
  color: #8D916C;
}

/* my colors palette 1 */
.dark-salmon {
  color: #E9A666;
  background-color: #E9A666;
}

.dark-olive-grn {
  color: #4D5824;
}

.light-steel-blu {
  color: #9DC15D;
}

.powder-blu {
  color: #CBE5EF;
}

.dark-khaki {
  color: #A09444;
}

/* my colors palette 2 */
.old-rose {
  color: #A6464E;
  background-color: #A6464E;
}

.black {
  color: #0C090A;
  background-color: #0C090A;
}

.tan {
  color: #CFAEA1;
  background-color: #CFAEA1;
}

.gray {
  color: #8D916C;
  background-color: #8D916C;
}

.dark-olive-green {
  color: #705142;
  background-color: #705142;
}
/* @media (max-width: 1000px) {
#about .profile-slide, .hideaway-slide img {
  display: none;
}
} */

/* SLIDER PROF */
@media (min-width: 1200px) {

#about .profile {
  display: none;
}
.profile-slide {
  display: block;
  position: relative;
  background-color: #0C090A;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 1s ease;
}

.profile-slide:hover .overlay {
  width: 100%;
}
.profile-slide:hover .overlay img {
  float: right;
}

.slider {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  /* white-space: nowrap; */
}

.slide-text {
  color: #0C090A;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  /* white-space: nowrap; */
}
}

@media (max-width: 1200px) {
#about .profile-slide, .hideaway-slide img {
  display: none;
}
}

.gry-fade {
      /* background-color: #b0b0b0; */
      /* background-image: -webkit-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: -o-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: -moz-linear-gradient(to left, #C3C1C2, #0C090A);
      background-image: linear-gradient(to left, #C3C1C2, #0C090A); */
      background-image: -webkit-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: -o-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: -moz-linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-image: linear-gradient(to bottom, #C3C1C2, #0C090A);
      background-repeat: no-repeat;
      font-size: 100%;
    }
@media (max-width: 400px) {
  .col-sm-12 {
    padding-right: 0px;
    /* background-color: #fff; */
}

#resume {
  padding: 0 1em;
}
}
  #container {
    background-color: #fff;
  }

  .big-box {
    text-align: center;
  }

  h2 {
    font-variant: small-caps;
  }

  .dev {
    font-weight: 100;
  }

  .des {
    font-weight: 600;
    font-style: italic;
  }

  .dev, .des {
    font-family: 'Taviraj', serif;
    font-size: 4em;
  }
  .jumbotron p {
    /* margin: 0 auto; */
    /* background-color: #000; */
  }

  /* .rows {
    display: flex;
    flex-wrap: wrap;
  }

  .center-align {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
  } */

  #projects p {
    text-align: center;
    font-size: 1.4em;
  }

  #projects img {
    padding: 1em;
    /* background-color: #A6464E; */
    border-radius: 50%;
    border: .5em solid #b0b0b0;
  }

  #about p {
    padding: 1em;
  }

  #initial-tag {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: .5em;
  }

  header img {
    float: right;
  }

  #prof {
    float: right;
    /* margin-right: 0px; */
  }

  .blk {
    background-color: #0C090A;
  }

  .blk p {
    color: #FFF;
  }

  .gry {
    /* background-color:	#595657; */
    /* background-color: #3d3d3d; */
    background-color: #b0b0b0;
 }

.bd-white {
  border-top: solid 1em #FFFFFF;
}

body {
  margin: auto;
}
